/*
cd css/scss
sass --watch main.scss:../main.css
*/
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Protest+Riot&display=swap");
:root {
  --bc: rgba(43, 50, 57, 1);
  --bca: rgba(43, 50, 57, 0.3);
  --bca-darker: rgba(43, 50, 57, 0.8);
  --font-fam: system-ui;
  --coin-font: "Kode Mono", monospace;
  --coin-letter-spacing: -0.05em;
  --display-max-width: 700px;
}

body {
  font-family: var(--font-fam);
}

* {
  box-sizing: border-box;
}

#display {
  display: flex;
  margin: 0 auto 20px auto;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  padding: 1px;
  border: 5px solid var(--bca);
  background-color: var(--bca);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0 0 15px 15px;
  max-width: var(--display-max-width);
  max-height: 70vh;
}
#display.scatter-attivo {
  animation: scatter-attivo ease-in-out 2.5s infinite;
}
#display .riga {
  display: flex;
  justify-content: center;
  background-color: var(--bca);
  margin: 1px 0;
  position: relative;
  width: 100%;
}
#display .riga:first-child {
  border-radius: 10px 10px 0 0;
}
#display .riga:last-child {
  border-radius: 0 0 10px 10px;
}
#display .riga .item {
  flex-grow: 1;
  /* Fai espandere ogni immagine per occupare lo spazio disponibile */
  width: calc(20% - 12px);
  /* Imposta la larghezza su 1/5 della pagina (con margine) */
  padding: 7px 6px 3px 6px;
  /* Aggiungi margine tra le immagini */
  text-align: center;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#display .riga .item img {
  text-align: center;
  width: 100%;
  max-height: 100%;
}
#display .riga .item.spin img {
  animation: spin linear 0.15s infinite;
}
#display .riga .item.spin-finale img {
  animation: spin-finale ease-out 0.15s 1;
}
#display .riga .item.spin-start img {
  animation: spin-start ease-in 0.15s 1;
}
#display .riga .guadagno-riga {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 99%;
  padding: 4px 6px;
  font-weight: normal;
  border: 1px solid #fff;
  color: gold;
  font-size: 0.8em;
  background-color: #222;
  z-index: 2;
  display: none;
}

.controller {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 97%;
}
.controller input {
  opacity: 0.5;
  transition: ease-in-out 0.2s;
}
.controller input:hover, .controller input:focus {
  opacity: 1;
}
.controller img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#spin_btn {
  margin-left: auto;
}

#info {
  position: fixed;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: calc((15vh + 15vw) / 2);
  color: #fff;
  -webkit-text-stroke: calc((0.5vh + 0.5vw) / 2) #000717;
  font-weight: bolder;
  z-index: 5;
  letter-spacing: var(--coin-letter-spacing);
  font-family: var(--coin-font);
}

.wallpaper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  pointer-events: none;
}

#other_info .avviso {
  margin: 3px;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}

#calcoli span {
  display: block;
  font-weight: bold;
  font-size: 1.17em;
}
#calcoli span b {
  background-color: rgb(19, 78, 50);
}

.audio {
  display: none;
}

.container_moltiplicatori_ufo {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
  font-family: var(--coin-font);
}
.container_moltiplicatori_ufo #moltiplicatori_ufo {
  flex-grow: 2;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  margin: 4px auto;
}
.container_moltiplicatori_ufo #moltiplicatori_ufo b {
  flex-grow: 1;
  text-align: center;
  font-size: 2em;
  color: #fff;
  -webkit-text-stroke: 1px #222;
  transition: 0.2s;
  margin: auto;
  border-right: 2px solid var(--bc);
}
.container_moltiplicatori_ufo #moltiplicatori_ufo b:last-child {
  border: none;
}
.container_moltiplicatori_ufo #moltiplicatori_ufo b.active {
  color: gold;
}
.container_moltiplicatori_ufo #moltiplicatori_ufo .barra_n_scatter {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #198754;
  opacity: 0.5;
  z-index: -1;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

#coin {
  flex-grow: 1;
  font-size: 1.8em;
  text-align: center;
  -webkit-text-stroke: 1px #222;
  font-family: var(--coin-font);
  letter-spacing: var(--coin-letter-spacing);
}
#coin b {
  letter-spacing: var(--coin-letter-spacing);
}

.btn {
  padding: 12px 15px;
  font-size: 1.1em;
}

input {
  outline: none;
}

.danger {
  color: #dc3545;
}

.success {
  color: #198754;
}

.table {
  font-size: 1.17em;
}
.table b {
  color: #198754;
}
.table img {
  width: 30px;
}

.glass-container {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bca-darker);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.modale {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  width: 600px;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 6;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin {
  0% {
    transform: translateY(-105%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(105%);
  }
}
@keyframes spin-finale {
  0% {
    transform: translateY(-105%);
  }
  60% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin-start {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(105%);
  }
}
@keyframes scatter-attivo {
  0% {
    background-color: var(--bca);
    border-color: var(--bca);
  }
  50% {
    background-color: rgba(184, 126, 26, 0.3);
    border-color: rgba(184, 126, 26, 0.3);
  }
  100% {
    background-color: var(--bca);
    border-color: var(--bca);
  }
}
@media screen and (max-width: 700px) {
  #display .riga .guadagno-riga {
    top: 0;
    left: 0;
    right: inherit;
    transform: inherit;
    padding: 2px 4px;
  }
}

/*# sourceMappingURL=main.css.map */
