/*
cd css/scss
sass --watch main.scss:../main.css
*/
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
body {
  margin-bottom: 250px;
  font-family: "Protest Riot";
}

* {
  box-sizing: border-box;
}

#display {
  display: flex;
  margin: 5px auto 20px auto;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  padding: 1px;
  border: 5px solid rgba(43, 50, 57, 0.3);
  background-color: rgba(43, 50, 57, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  max-width: 600px;
}
#display.scatter-attivo {
  animation: scatter-attivo ease-in-out 2.5s infinite;
}
#display .riga {
  display: flex;
  justify-content: center;
  background-color: rgba(43, 50, 57, 0.3);
  margin: 1px 0;
  position: relative;
}
#display .riga:first-child {
  border-radius: 10px 10px 0 0;
}
#display .riga:last-child {
  border-radius: 0 0 10px 10px;
}
#display .riga .item {
  flex-grow: 1;
  /* Fai espandere ogni immagine per occupare lo spazio disponibile */
  width: calc(20% - 12px);
  /* Imposta la larghezza su 1/5 della pagina (con margine) */
  padding: 7px 6px 3px 6px;
  /* Aggiungi margine tra le immagini */
  text-align: center;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#display .riga .item img {
  text-align: center;
  width: 100%;
  max-height: 100%;
  animation: up-down cubic-bezier(0.59, 0.23, 0.4, 0.75) 2s infinite;
}
#display .riga .item.spin img {
  animation: spin linear 0.2s infinite;
}
#display .riga .item.spin-finale img {
  animation: spin-finale ease-out 0.2s 1;
}
#display .riga .item.spin-start img {
  animation: spin-start ease-in 0.2s 1;
}
#display .riga .guadagno-riga {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 99%;
  padding: 4px 6px;
  font-weight: normal;
  border: 1px solid #fff;
  color: gold;
  font-size: 0.8em;
  background-color: #222;
  z-index: 2;
  display: none;
}

.controller {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.controller img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#spin_btn {
  margin-left: auto;
}

#info {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: calc((20vh + 20vw) / 2);
  color: #fff;
  -webkit-text-stroke: calc((0.5vh + 0.5vw) / 2) #000717;
  font-weight: bolder;
  z-index: 5;
}

.wallpaper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  pointer-events: none;
}

#other_info .avviso {
  margin: 3px;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}

#calcoli span {
  display: block;
  font-weight: bold;
  font-size: 1.17em;
}
#calcoli span b {
  background-color: rgb(19, 78, 50);
}

.audio {
  display: none;
}

.container_saldo_moltiplicatori_ufo {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
}
.container_saldo_moltiplicatori_ufo #coin {
  flex-grow: 1;
  font-size: 2.5em;
  text-align: center;
  -webkit-text-stroke: 1px #222;
}
.container_saldo_moltiplicatori_ufo #moltiplicatori_ufo {
  flex-grow: 2;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.container_saldo_moltiplicatori_ufo #moltiplicatori_ufo b {
  flex-grow: 1;
  text-align: center;
  font-size: 2em;
  color: #fff;
  -webkit-text-stroke: 1px #222;
  transition: 0.2s;
  margin: auto;
}
.container_saldo_moltiplicatori_ufo #moltiplicatori_ufo b.active {
  color: gold;
  font-size: 2.5em;
}

.btn {
  padding: 12px 15px;
  font-size: 1.1em;
}

input {
  outline: none;
}

.danger {
  color: #dc3545;
}

.success {
  color: #198754;
}

.table {
  font-size: 1.17em;
}
.table b {
  color: #198754;
}
.table img {
  width: 25px;
}

.glass-container {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(43, 50, 57, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin {
  0% {
    transform: translateY(-105%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(105%);
  }
}
@keyframes spin-finale {
  0% {
    transform: translateY(-105%);
  }
  60% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin-start {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(105%);
  }
}
@keyframes scatter-attivo {
  0% {
    background-color: rgba(43, 50, 57, 0.3);
    border-color: rgba(43, 50, 57, 0.3);
  }
  50% {
    background-color: rgba(184, 126, 26, 0.3);
    border-color: rgba(184, 126, 26, 0.3);
  }
  100% {
    background-color: rgba(43, 50, 57, 0.3);
    border-color: rgba(43, 50, 57, 0.3);
  }
}

/*# sourceMappingURL=main.css.map */
