body {
    margin-bottom: 120px;
}

.controller {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav input {
    max-width: 40%;
    flex-grow: 2;
}

#display {
    display: flex;
    margin: 0 auto 20px auto;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

#display .item {
    flex-grow: 1;
    text-align: center;
    font-size: 12vw;
    width: 20%;
}

.item.active {
    animation: evidenzia 0.25s ease-in-out 1;
}

@keyframes evidenzia {
    0% {
        background-color: #2b3239;
    }
    100% {
        background-color: rgba(33, 37, 41, 0);
    }
}

.d-flex {
    gap: 10px;
}

#coin {
    font-size: 30px;
    margin-right: auto;
}

input {
    outline: none;
}

#info {
    text-align: center;
}

.danger {
    color: #dc3545;
}

.success, .table b {
    color: #198754;
}

.btn-container {
	display: flex;
	padding: 5px;
	gap: 5px;
	flex-wrap: wrap;

	.btn {
		margin: 0;

		&.fg-1 {
			flex-grow: 1;
		}
	}

	.btn-sequence {
		padding: 0;
	}

	&.fg-1 {
		.btn {
			flex-grow: 1;
		}

		.btn-sequence {
			width: 100%;

			.btn {
				flex-grow: 1;
			}
		}
	}
}