.btn {
    padding: 12px 15px;
    font-size: 1.1em;
}

input {
    outline: none;
}

.danger {
    color: #dc3545;
}

.success {
    color: #198754;
}

.table {
    b {
        color: #198754;
    }
    img {
        width: 25px;
    }
}