.btn {
    padding: 12px 15px;
    font-size: 1.1em;
}

input {
    outline: none;
}

.danger {
    color: #dc3545;
}

.success {
    color: #198754;
}

.table {
    font-size: 1.17em;

    b {
        color: #198754;
    }

    img {
        width: 25px;
    }
}

.glass-container {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(43, 50, 57, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}