.btn {
    padding: 12px 15px;
    font-size: 1.1em;
}

input {
    outline: none;
}

.danger {
    color: #dc3545;
}

.success {
    color: #198754;
}

.table {
    font-size: 1.17em;

    b {
        color: #198754;
    }

    img {
        width: 30px;
    }
}

.glass-container {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bca-darker);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.modale {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    width: 600px;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 6;
}