/*
cd css/scss
sass --watch main.scss:../main.css
*/

@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

body {
    margin-bottom: 250px;
    font-family: "Protest Riot";
}

* {
    box-sizing: border-box;
}

@import 'specifici.scss';
@import 'elementi_comuni.scss';
@import 'animazioni.scss';