#display {
    display: flex;
    margin: 0 auto 20px auto;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    padding: 1px;
    border: 5px solid var(--bca);
    background-color: var(--bca);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0 0 15px 15px;
    max-width: var(--display-max-width);
    max-height: 70vh;

    &.scatter-attivo {
        animation: scatter-attivo ease-in-out 2.5s infinite;
    }

    .riga {
        display: flex;
        justify-content: center;
        background-color: var(--bca);
        margin: 1px 0;
        position: relative;
        width: 100%;

        &:first-child {
            border-radius: 10px 10px 0 0;
        }

        &:last-child {
            border-radius: 0 0 10px 10px;
        }

        .item {
            flex-grow: 1;
            /* Fai espandere ogni immagine per occupare lo spazio disponibile */
            width: calc(20% - 12px);
            /* Imposta la larghezza su 1/5 della pagina (con margine) */
            padding: 7px 6px 3px 6px;
            /* Aggiungi margine tra le immagini */
            text-align: center;
            overflow: hidden;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            img {
                text-align: center;
                width: 100%;
                max-height: 100%;
                animation: up-down cubic-bezier(.59, .23, .4, .75) 2s infinite;
            }

            &.spin img {
                animation: spin linear 0.2s infinite;
            }

            &.spin-finale img {
                animation: spin-finale ease-out 0.2s 1;
            }

            &.spin-start img {
                animation: spin-start ease-in 0.2s 1;
            }
        }

        .guadagno-riga {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: calc(99%);
            padding: 4px 6px;
            font-weight: normal;
            border: 1px solid #fff;
            color: gold;
            font-size: 0.8em;
            background-color: #222;
            z-index: 2;
            display: none;
        }
    }

}

.controller {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 97%;

    input {
        opacity: 0.5;
        transition: ease-in-out 0.2s;

        &:hover, &:focus {
            opacity: 1;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

#spin_btn {
    margin-left: auto;
}

#info {
    // display: none;
    position: fixed;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: calc((20vh + 20vw) / 2);
    // text-shadow: 5px 5px 5px rgba(255,215,0,0.6);
    color: #fff;
    -webkit-text-stroke: calc((0.5vh + 0.5vw) / 2) #000717;
    font-weight: bolder;
    // animazione numero
    z-index: 5;

    // b {
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     transform: translateX(-50%);
    // }

    // img {
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     width: calc((40vh + 40vw) / 2);
    //     transform: translateX(-50%);
    // }
}

.wallpaper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    pointer-events: none;
}

#other_info {
    .avviso {
        margin: 3px;
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
    }
}

#calcoli {
    span {
        display: block;
        font-weight: bold;
        font-size: 1.17em;

        b {
            background-color: rgb(19, 78, 50);
        }
    }
}

.audio {
    display: none;
}

.container_moltiplicatori_ufo {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    font-family: var(--coin-font);

    #moltiplicatori_ufo {
        flex-grow: 2;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
        margin: 4px auto;

        b {
            flex-grow: 1;
            text-align: center;
            font-size: 2em;
            color: #fff;
            -webkit-text-stroke: 1px #222;
            transition: 0.2s;
            margin: auto;
            border-right: 2px solid var(--bc);

            &:last-child {
                border: none;
            }

            &.active {
                color: gold;
                font-size: 2.5em;
            }
        }

        .barra_n_scatter {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #198754;
            opacity: 0.5;
            z-index: -1;
            border-radius: 10px;
            transition: 0.3s ease-in-out;
        }
    }
}

#coin {
    flex-grow: 1;
    font-size: 2.5em;
    text-align: center;
    -webkit-text-stroke: 1px #222;
    font-family: var(--coin-font);
}