#display {
    display: flex;
    margin: 5px auto 20px auto;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 1px;
    border: 5px solid rgba(43, 50, 57, 0.3);
    background-color: rgba(43, 50, 57, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    max-width: 600px;
    overflow: hidden;

    &.scatter-attivo {
        animation: scatter-attivo ease-in-out 2.5s infinite;
    }

    .item {
        flex-grow: 1;
        /* Fai espandere ogni immagine per occupare lo spazio disponibile */
        width: calc(20% - 12px);
        /* Imposta la larghezza su 1/5 della pagina (con margine) */
        padding: 7px 6px 3px 6px;
        /* Aggiungi margine tra le immagini */
        text-align: center;
        background-color: transparent;
        overflow: hidden;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 1px;
        margin-bottom: 1px;
        background-color: rgba(43, 50, 57, 0.3);
        border-radius: 0;

        &:nth-child(5) {
            border-radius: 0 10px 0 0;
        }

        &:nth-child(11) {
            border-radius: 0 0 0 10px;
        }

        &:first-child {
            border-radius: 10px 0 0 0;
        }

        &:last-child {
            border-radius: 0 0 10px 0;
        }

        img {
            text-align: center;
            width: 100%;
            max-height: 100%;
            animation: up-down cubic-bezier(.59, .23, .4, .75) 2s infinite;
        }

        &.spin img {
            animation: spin linear 0.2s infinite;
        }

        &.spin-finale img {
            animation: spin-finale ease-out 0.2s 1;
        }

        &.spin-start img {
            animation: spin-start ease-in 0.2s 1;
        }
    }
}

.controller {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

#spin_btn {
    margin-left: auto;
}

#info {
    text-align: center;
    font-size: 2em;
    -webkit-text-stroke: 1px #fff;
    color: #222;

    b {
        font-size: 2.2em;
    }

    // i {
    //     -webkit-text-stroke: 0px;
    // }
}

.wallpaper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    pointer-events: none;
}

#other_info {
    .avviso {
        margin: 3px;
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
    }
}

#calcoli {
    span {
        display: block;
        font-weight: bold;
        font-size: 1.17em;

        b {
            background-color: rgb(19, 78, 50);
        }
    }
}

.audio {
    display: none;
}

.container_saldo_moltiplicatori_ufo {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;

    #coin {
        flex-grow: 1;
        font-size: 2.5em;
        text-align: center;
        -webkit-text-stroke: 1px #222;
    }

    #moltiplicatori_ufo {
        flex-grow: 2;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        b {
            flex-grow: 1;
            text-align: center;
            font-size: 2em;
            color: #fff;
            -webkit-text-stroke: 1px #222;
            transition: 0.2s;
            margin: auto;

            &.active {
                color: gold;
                font-size: 2.5em;
            }
        }
    }
}